@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light-yellow: hsl(40, 86%, 82%);
  --color-orange: hsl(27, 97%, 55%);
  --color-orangish-brown: hsl(18, 81%, 41%);
  --color-brown: hsl(20, 76%, 23%);
  --color-primary: var(--color-light-yellow);
  --color-secondary: var(--color-orange);
  --color-accent: var(--color-orangish-brown);
  --max-width: 1440px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-primary);
  scroll-padding-top: 94px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

section>h2 {
  font-size: 1.75rem;
  color: var(--color-orange);
}

section:nth-of-type(2n) {
  background-color: var(--color-orangish-brown);
}

button {
  border-width: 0;
  background-color: transparent;
  padding: 0;
  display: flex;
}