@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light-yellow: #f9deaa;
  --color-light-light-yellow: #fae5bd;
  --color-orange: #fc811d;
  --color-orangish-brown: #bd4714;
  --color-brown: #672c0e;
  --color-primary: var(--color-light-light-yellow);
  --color-secondary: var(--color-orange);
  --color-accent: var(--color-orangish-brown);
  --max-width: 1440px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-primary);
  scroll-padding-top: 94px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border-top: 1px solid black; */
}

button {
  border-width: 0;
  background-color: transparent;
  padding: 0;
  display: flex;
}